.calculator {
  display: flex;
  flex-direction: column;
  width: 400px;
}

#display {
  height: 60px;
  background-color: rgb(165, 159, 159);
}

.row {
  display: flex;
  padding: 1px 0 1px 2px;
  gap: 1px;
}

.btn {
  width: 200px;
  height: 60px;
  border: none;
}

.btn-o {
  width: 200px;
  height: 60px;
  background-color: rgb(253, 132, 32);
  border: none;
}

.keys {
  align-items: center;
  background-color: rgb(211, 210, 208);
}

#zero {
  width: 400px;
}
