.calculator {
  display: flex;
  flex-direction: column;
  width: 400px;
}

#display {
  height: 60px;
  background-color: rgb(165, 159, 159);
}

.navbar {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.nav-link {
  margin-left: 800px;
}

.nav-link-1 {
  margin-left: 100px;
}

.row {
  display: flex;
  padding: 1px 0 1px 2px;
  gap: 1px;
}

.btn {
  width: 200px;
  height: 60px;
  border: none;
}

.btn-o {
  width: 200px;
  height: 60px;
  background-color: rgb(253, 132, 32);
  border: none;
}

.keys {
  align-items: center;
  background-color: rgb(211, 210, 208);
}

#zero {
  width: 400px;
}

.para {
  font-size: 20px;
  padding: 12px;
}

.heading {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.calc-area {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.quote {
  display: flex;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  justify-content: space-around;
  margin-top: 90px;
}

.home {
  padding: 55px;
}
